__pycache__
*.pyc
outputs
plan_outputs

##i added this
__pycache__/
cargoal_test/
*.pyo
runs/
# Ignore virtual environments
.env/
venv/
.dino_wm/
*.png
*.logs
*.log
*.txt
*.mp4
*.pth
# Ignore model checkpoints, logs, and datasets
*.ckpt
wandb/
logs/
checkpoints/
*.zip
*.tar.gz
*.h5
*.pt
# Ignore large temp files or intermediate outputs
*.npy
*.npz
*.pkl
# Large local data / checkpoints
wm_ckpt_18-27-17/
Trajectories/